@import './normalize.css';
/* montserrat-400 - latin */
@font-face {
  font-display: swap;
  font-family: "Montserrat";
  font-style: normal;
  src: url("../../src/fonts/montserrat-v26-latin-400.woff2") format("woff2");
}
/* montserrat-600 - latin */
@font-face {
  font-display: swap;
  font-family: "Montserrat";
  font-style: normal;
  src: url("../../src/fonts/montserrat-v26-latin-600.woff2") format("woff2");
}
/* allura-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Allura";
  font-style: normal;
  font-weight: 400;
  src: url("../../src/fonts/allura-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
.header__icon:hover {
  background-color: hsla(195, 56%, 62%, 0.6);
  transition: 0.5s ease-in-out;
  border-radius: 5px;
}

.header__itemn:hover {
  background-color: hsl(0, 100%, 95%);
  transition: 0.5s ease-in-out;
}

.itemn__link:hover {
  color: #FF4646;
  transition: 0.5s ease-in-out;
}

.hero__btn:hover {
  background-color: #FFFFFF;
  transition: 0.5s ease-in-out;
}

.hero__link:hover {
  color: #181C29;
  transition: 0.5s ease-in-out;
}

html {
  font-size: 10px;
}

a {
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
}

h1, h2, h3, p {
  margin: 0;
}

.bg {
  background: url("../../src/img/hero/bg-snow.png");
  background-repeat: no-repeat;
  background-size: 100% 110%;
  background-position: 100% 60%;
}

.text {
  margin: 0 0 10px 0;
  text-align: center;
  font-family: "Allura";
  font-size: 2.4rem;
  line-height: 100%;
  letter-spacing: 1.2px;
  color: #FFFFFF;
}

.tag {
  display: block;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-size: 24px 24px;
}
.tag__icon {
  background-image: url("../../src/img/header/home-icon.png");
}

.wrapper {
  max-width: 1440px;
  margin: auto;
}

.wrapper__block {
  padding: 0 13.7rem;
}

.header {
  padding: 15px 0px;
  background-color: #FFFFFF;
}

.header__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header__icon {
  width: 120px;
  padding: 5px 0 5px 5px;
  transition: 0.5s ease-in-out;
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  gap: 0px 7px;
}

.header__link {
  text-transform: uppercase;
  color: #181C29;
  font-family: "Montserrat";
  font-size: 1.2rem;
  line-height: 152%;
  font-weight: 400;
  letter-spacing: 0.6px;
}

.main__bacgraund {
  background-color: #FF4646;
  border-radius: 20px;
}

.header__itemns {
  display: flex;
  flex-direction: row;
  gap: 0 35px;
}

.header__itemn {
  padding: 5px;
  border-radius: 5px;
  transition: 0.5s ease-in-out;
}

.itemn__link {
  text-transform: uppercase;
  color: #181C29;
  font-family: "Montserrat";
  font-size: 1.2rem;
  line-height: 130%;
  font-weight: 600;
  letter-spacing: 0.1rem;
  transition: 0.5s ease-in-out;
}

.hero {
  padding: 120px;
  background-image: url("../../src/img/hero/bg-ball.png"), url("../../src/img/hero/bg-snow.png");
}

.hero__wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.hero__title {
  max-width: 425px;
  margin: 0 0 13px 0;
  text-align: center;
  text-transform: uppercase;
  font-family: "Montserrat";
  font-size: 3.2rem;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: 5.5px;
  color: #FFFFFF;
}

.hero__button {
  margin: 0 0 15px 0;
}

.hero__btn {
  width: 235px;
  padding: 20px 10px;
  border-radius: 20px;
  border: none;
  background-color: #181C29;
  text-transform: uppercase;
  font-family: "Montserrat";
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 130%;
  letter-spacing: 0.5px;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

.hero__link {
  color: #FFFFFF;
  transition: 0.5s ease-in-out;
}

.about {
  padding: 50px 0px;
}

.about__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0px 40px;
}

.about__desk {
  max-width: 480px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 11% 60px 40px 60px;
  background-color: #FFFFFF;
  border-radius: 20px;
}

.about__inf {
  display: flex;
  flex-direction: column;
}

.text_about {
  text-align: left;
  margin-bottom: 20px;
  color: #FF4646;
}

.about__title {
  margin-bottom: 20px;
  font-family: "Montserrat";
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 152%;
  letter-spacing: 4px;
  text-transform: uppercase;
}

.about__text {
  width: 460px;
  font-family: "Montserrat";
  font-size: 1.6rem;
  font-weight: normal;
  line-height: 148%;
  letter-spacing: 0.6px;
}

.about__pic {
  border-radius: 20px;
}

/*# sourceMappingURL=index.css.map */
