.best-gifts {
  padding: 37px 0px 0px 0px;
};

.best-gifts__title {
  margin-bottom: 20px;
  color: $color-static;
  text-align: center;
};

.best-gifts_gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px 11px;
  @include tablet-burger-menu {
    gap: 25px 25px;
  };
  @include mobale-small {
    gap: 30px 0px;
  }
};

.best-gifts_itemn {
  max-width: 310px;
  padding: 0 0 20px 0;
  background-color: $color-static;
  border-radius: 20px;
  
  cursor: pointer;
  transition: 0.5s ease-in-out;
  @include tablet-burger-menu {
    padding: 0 0 30px 0;
  };
  @include mobale {
    max-width: 270px;
  }
};

.best-gifts_img {
  width: 310px;
  height: 230px;
  margin-bottom: 16px;
  @include mobale {
    width: 280px;
    height: 210px;
  }
};

.best-gifts_desk {
  display: flex;
  flex-direction: column;
  padding: 0 0 0 20px;
}

.best-gifts_text {
  font-family: 'Montserrat';
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 152%;
  letter-spacing: 1px;
  text-transform: uppercase;
}