.form {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);

  opacity: 0;
  pointer-events: none;
  transition: 0.3s ease-in-out;
};

.form__active {
  opacity: 1;
  pointer-events: all;
  transition: 0.3s ease-in-out;
}

.form__body {
  top: 13%;
  left: 35%;
  
  max-width: 400px;
  background-color: $color-static;
  border-radius: 20px;
  position: absolute;
  cursor: pointer;
  transition: 0.5s ease-in-out;
  @include tablet-burger-menu {
    padding: 0 0 30px 0;
  };
  @include mobale {
    max-width: 270px;
  }
};

.form__img {
  position: relative;
  width: 100%;
  background-color: hsla(0, 0%, 90%, 0.5);
  border-radius: 20px;
};

.form__close {
  position: absolute;
  width: 40px;
  height: 40px;
  margin-top: -70%;
  margin-left: 85%;
  background-image: url('../../src/img/form/close.png');
  background-repeat: no-repeat;
  background-size: 40px 40px;
}

.form__desk {
  padding:  10px;
};

.form-text-desk {
  max-width: 100%;
  font-family: 'Montserrat';
  font-size: 1.6rem;
  font-weight: 200;
  line-height: 148%;
};

.form__add {
  display: flex;
  flex-direction: row;
  gap: 0 10%;
};

.form__superpower {
  width: 120px;
  font-family: 'Montserrat';
  font-size: 1.6rem;
  line-height: 148%;
};

.form__superpower_sum {
  text-align: center;
}

.form__snows {
  max-width: 100px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 0 5px;
}

.form__snow {
  display: block;
  width: 16px;
  height: 16px;
  background: url('../../src/img/form/snowflake.jpg');
  background-size: 16px 16px;
  background-repeat: no-repeat;
}