.gifts-galley {
  padding: 4.2% 0;
  @include tablet-burger-menu {
    padding: 8% 0 4% 0;
  };
  @include mobale-small {
    padding: 16% 0 13% 0;
  }
}

.wrapper__gifts_gallery {
  display: grid;
  justify-items: center;
};

.wrapper__gifts_title {
  margin-bottom: 20px;
}

.gifts-galley_btns {
  margin-bottom: 22px;
  display: flex;
  flex-direction: row;
  gap: 0 9px;
  @include tablet-gifts {
    padding: 0 10px;
  };
  @include mobale-small {
    gap: 0 4px;
    text-align: center;
    align-items: center;
  };
  @include mobale-small-about {
    gap: 0 2px;
  }
};

.gifts-galley_btn {
  padding: 11px 20px;
  border-radius: 10px;
  font-family: 'Montserrat';
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 130%;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: $color-static;
  cursor: pointer;
  @include tablet-gifts {
    padding: 8px 4px;
  };
  @include mobale-small {
    padding: 8px 10px;
    font-size: 1.0rem;
  }
};

.gifts-galley_btn_active {
  background-color: hsla(0, 0%, 80%, 0.5);
};

.gallery__dg {
  background:  url('../../src/img/gallery/bg-garland.png');
  background-repeat: no-repeat;
  background-size: contain;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 35px 10px;
  @include tablet-burger-menu {
    gap: 25px 20px;
  }
};

.gifts__main {
  padding: 4% 0 2.4% 0;
}