.gifts-galley {
  padding: 4.2% 0;
  @include tablet-burger-menu {
    padding: 8% 0 4% 0;
  };
  @include mobale-small {
    padding: 16% 0 13% 0;
  }
}

.wrapper__gifts_gallery {
  position: relative;
  display: grid;
  justify-items: center;
};

.wrapper__gifts_title {
  margin-bottom: 20px;
}

.gifts-galley_btns {
  margin-bottom: 22px;
  display: flex;
  flex-direction: row;
  gap: 0 9px;
  @include tablet-gifts {
    padding: 0 10px;
  };
  @include mobale-small {
    gap: 0 4px;
    text-align: center;
    align-items: center;
  };
  @include mobale-small-about {
    gap: 0 2px;
  }
};

.gifts-galley_btn {
  padding: 11px 20px;
  border-radius: 10px;
  font-family: 'Montserrat';
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 130%;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: $color-static;
  transition:  0.5s ease-in-out;
  cursor: pointer;
  @include tablet-gifts {
    padding: 8px 4px;
  };
  @include mobale-small {
    padding: 8px 10px;
    font-size: 1.0rem;
  }
};

.gifts-galley_btn_active {
  background-color: hsla(0, 0%, 80%, 0.5);
  transition:  0.5s ease-in-out;
};

.gallery__dg {
  background:  url('../../src/img/gallery/bg-garland.png');
  background-repeat: no-repeat;
  background-size: contain;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 35px 10px;
  @include tablet-burger-menu {
    gap: 25px 20px;
  }
};

.gifts__main {
  padding: 4% 0 2.4% 0;
};

//btn up

.galley-btn-up {
  display: none;
  position: absolute;
  right: 6%;
	top: 20%;
  transition: all .3s ease-in-out;
  @include tablet-burger-menu {
    display: block
  };
  @include tablet-form {
    right: 15%;
    top: 10.5%;
  };
  @include mobale-form-big {
    right: 11%;
    top: 11%;
  };
  @include mobale-big {
    right: 11%;
    top: 10%;
  };
  @include mobale-small {
    right: 13%;
    top: 10.6%;
  }
};

.galley-btn-up-img {
  display: block;
  position: fixed;
  width: 34px;
  height: 34px;
  background-image: url('../../src/img/gallery/arrow-up.png');
  background-color: $color-static;
  background-size: 34px 34px;
  background-repeat: no-repeat;
  border-radius: 50%;
  border: 2px solid $color-main;

  cursor: pointer;
}