@use '../abstract/constans' as c;
@use '../abstract/mixin' as m;

.gifts {
  padding: 6% 0 2% 0;
  background-color: c.$color-static;
  @include m.mobale-small {
    padding: 15% 0 2% 0;
  }
};

.wrapper__gifts {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0 15px;
  @include m.desktop-small {
    padding: 0 20px;
    flex-direction: column;
    gap: 15px 0px;
  };
  @include m.tablet-burger-menu {
    padding: 0 10px;
    text-align: center;
    align-items: center;
  }
};

.gifts__itemn {
  width: calc(62% / 3);
  
  display: flex;
  padding: 26px 60px 19px 60px;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  background-color: c.$color-form-img;
  border-radius: 20px;
  cursor: pointer;
  @include m.desktop-small {
    width: calc(100% - 15%);
  };
  @include m.tablet-burger-menu {
    width: calc(100% - 17%);
  };
  @include m.tablet-small {
    width: calc(100% - 20%);
  };
  @include m.tablet-gifts {
    width: calc(100% - 35%);
  };
  @include m.mobale-small {
    width: calc(100% - 20%);
    padding: 26px 20px 19px 20px;
  };
  @include m.mobale-small-about {
    width: calc(100% - 25%);
  }
};

.gifts__title {
  max-width: 377px;
  margin-bottom: 12px;
  font-family: 'Montserrat';
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 152%;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: c.$color-main-backrgaund;
  @include m.mobale-small-about {
    font-size: 2.0rem;
  };
  @include m.mobale-small-about {
    font-size: 1.7rem;
  }
};

.gifts__text {
  font-family: 'Montserrat';
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 152%;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: c.$color-main-backrgaund;
}