.gta {
  padding: 16.5% 0px 0px 0px;
};

.wrapper__gta {
  display: grid;
  justify-content: center;
}

.text__gta {
  max-width: 426px;
  margin-bottom: 20px;
  text-align: center;
  color: $color-static;
};