.hero {
  padding: 120px 120px 130px 120px;
  background-image: url('../../src/img/hero/bg-ball.png'), url('../../src/img/hero/bg-snow.png');
};

.hero__wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.hero__title {
  max-width: 425px;
  margin: 0 0 13px 0;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Montserrat';
  font-size: 3.2rem;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: 5.5px;
  color: $color-static;
};




