

.header__nav {
  @include tablet-burger-menu {
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    position: fixed;
    display: grid;
    justify-items: center;
    align-items: center;
    background-color: $color-static;

    opacity: 0;
    pointer-events: none;
    transition: all 0.4s ease-in-out
  }
};

.header__nav__active {
  opacity: 1;
  pointer-events: all;
  transition: all 0.4s ease-in-out
}

.header__itemns {
  display: flex;
  flex-direction: row;
  gap: 0 35px;
  @include tablet-burger-menu {
    flex-direction: column;
    text-align: center;
    gap: 30px 0px;
  }
};

.header__itemn {
  padding: 5px;
  border-radius: 5px;
  transition: 0.5s ease-in-out;
};

.itemn__link {
  text-transform: uppercase;
  color: $color-main-backrgaund;
  font-family: 'Montserrat';
  font-size: 1.2rem;
  line-height: 130%;
  font-weight: 600;
  letter-spacing: 0.1rem;

  transition: 0.5s ease-in-out;
  @include tablet-burger-menu {
    font-size: 2.4rem;
  }
}