@use '../abstract/constans' as c;
@use '../abstract/mixin' as m;

.slaider {
  padding: 80px 0px
};

.slaider__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
};

.slaider__text {
  margin-bottom: 20px;
  color: c.$color-static;
};

.slaids {
  overflow: hidden;
  transition: transform 0.5s ease-in-out;
}

.slaider__gallery {
  max-width: 1260px;
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  padding: 0 0 0 6%;
  gap: 0 25px;
  transition: transform 0.5s ease-in-out;

  
  @include m.desktop-small-gallery {
    padding: 0 0 0 0%;
    gap: 0 5px;
  };
  @include  m.tablet-burger-menu {
    padding: 0 0 0 1%;
    gap: 0 5px;
  }
};



.slaider__item_title {
  font-family: 'Montserrat';
  font-size: 8.0rem;
  font-weight: 600;
  text-transform: uppercase;
  color: c.$color-static;
  @include m.mobale-small {
    font-size: 6.0rem;
  }
};

.slaider__item {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  gap: 0px 15px;
  @include m.desktop-small-gallery {
    gap: 0 5px;
  };
  @include  m.tablet-burger-menu {
    gap: 0 20px;
  };
  @include m.tablet-small-slaider {
    gap: 0 2px;
  };
  @include m.mobale-small {
    gap: 0 22px;
  };
  @include m.mobale-small-about {
    gap: 0 5px;
  }
};

.slaider__img {
  width: 200px;
  height: 200px;
  border-radius: 20px;
};



