.slaider {
  padding: 80px 0px
};

.slaider__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
};

.slaider__text {
  margin-bottom: 20px;
  color: $color-static;
};

.slaider__gallery {
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  padding: 0 0 0 6%;
  gap: 0 25px;

  overflow: hidden;
  @include desktop-small-gallery {
    padding: 0 0 0 0%;
    gap: 0 5px;
  };
  @include  tablet-burger-menu {
    padding: 0 0 0 1%;
    gap: 0 5px;
  }
}

.slaider__item_title {
  font-family: 'Montserrat';
  font-size: 8.0rem;
  font-weight: 600;
  text-transform: uppercase;
  color: $color-static;
};

.slaider__item {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  gap: 0px 15px;
  @include desktop-small-gallery {
    gap: 0 5px;
  };
  @include  tablet-burger-menu {
    gap: 0 20px;
  };
  @include tablet-small-slaider {
    gap: 0 2px;
  };
  @include mobale-small {
    gap: 0 22px;
  };
  @include mobale-small-about {
    gap: 0 5px;
  }
};

.slaider__img {
  width: 200px;
  height: 200px;
  border-radius: 20px;
};



