.slaider {
  padding: 66px 0px
};

.slaider__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
};

.slaider__text {
  margin-bottom: 20px;
  color: $color-static;
};

.slaider__gallery {
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  padding: 0 0 0 6%;
  gap: 0 25px;

  overflow: hidden;
}

.slaider__item_title {
  font-family: 'Montserrat';
  font-size: 8.0rem;
  font-weight: 600;
  text-transform: uppercase;
  color: $color-static;
};

.slaider__item {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  gap: 0px 15px;
};

.slaider__img {
  width: 200px;
  height: 200px;
  border-radius: 20px;
};



