$color-main:#FF4646;
$color-main-backrgaund:#181C29;
$color-main-accent:#FF46461A;

$color-static: #FFFFFF;
$color-tag-purple: #4361FF;
$color-tag-pink: #FF43F7;
$color-tag-green: #06A44F;

$color-icon:hsla(195, 56%, 62%, 0.6);
$color-itemn:hsl(0, 100%, 95%);

$color-form-bg:rgba(0, 0, 0, 0.7);
$color-form-img:hsla(0, 0%, 80%, 0.5);


$width-wrapper: 1440px;

