$color-main:#FF4646;
$color-main-backrgaund:#181C29;
$color-main-accent:#FF46461A;

$color-static: #FFFFFF;
$color-tag-purple: #4361FF;
$color-tag-pink: #FF43F7;
$color-tag-green: #06A44F;

$width-wrapper: 1440px;

//media

$desktop-big: 1312px;
$desktop-small: 1060px;
$desktop-small-gallery: 875px;
$tablet-big: 845px;
$tablet-burger-menu: 769px;
$tablet-small: 725px;
$tablet-form: 660px;
$tablet-samll-form: 620px;
$tablet-gifts: 568px;
$mobale-form: 520px;
$mobale-form-big: 500px;
$mob-form-big: 450px;
$tablet-small-slaider: 435px;
$mobale-big: 422px;
$mobale-small: 380px;
$mobale-small-about: 370px;
$mobale-small-form: 360px;
$mobale: 338px;