@use '../abstract/constans' as c;
@use '../abstract/mixin' as m;

.header__icon:hover {
  background-color: c.$color-icon;
  transition: 0.5s ease-in-out;
  border-radius: 5px;
  @include m.desktop-small {
    background-color: transparent;
    border-radius: 0;
  }
};

.header__itemn:hover {
  background-color: c.$color-itemn;
  transition: 0.5s ease-in-out;
  @include m.desktop-small {
    background-color: transparent;
  }
};

.itemn__link:hover {
  color: c.$color-main;
  transition: 0.5s ease-in-out;
  @include m.desktop-small {
    color: c.$color-main-backrgaund;
  }
};

.header__itemn_gifts:hover {
  @include m.desktop-small {
    background-color: c.$color-itemn;
  }
};

.itemn__link_gifts:hover {
  @include m.desktop-small {
    color: c.$color-main;
  }
}

.btn:hover {
  background-color: c.$color-static;
  transition: 0.5s ease-in-out;
  @include m.desktop-small {
    background-color: c.$color-main-backrgaund;
  }
};

.link:hover {
  color: c.$color-main-backrgaund;
  transition: 0.5s ease-in-out;
  @include m.desktop-small {
    color: c.$color-static;
  }
};

.slaider__dot:hover {
  color: c.$color-main;
  background-color: c.$color-static;
  @include m.desktop-small {
    color: c.$color-icon;
    background-color: transparent;
  }
};

.best-gifts_itemn:hover {
  color: c.$color-main;
  transition: 0.5s ease-in-out;
  @include m.desktop-small {
    color: c.$color-main-backrgaund;
  }
};

.footer__link:hover {
  transition: 0.5s ease-in-out;
  color: c.$color-main;
}