.header {
  padding: 20px 0px;
  background-color: $color-static;
};

.header__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header__icon {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  gap: 0px 10px;
};

.header__link {
  text-transform: uppercase;
  color: $color-main-backrgaund;
  font-family: 'Montserrat';
  font-size: 1.2rem;
  line-height: 152%;
  font-weight: 400;
  letter-spacing: 0.6px;
}