@use '../abstract/constans' as c;
@use '../abstract/mixin' as m;

.main {
  padding: 0 20px;
  @include m.tablet-burger-menu {
    padding: 0px 0px;
  }
}

.main__bacgraund {
  background-color: c.$color-main;
  border-radius: 20px;
};